---
import "../styles/global.css";
import App from "../components/App.jsx";
---

<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thagore Landing</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
